<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICourseService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54909/CourseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICourseService"
                contract="ServiceReference1.ICourseService" name="BasicHttpBinding_ICourseService" />
        </client>
    </system.serviceModel>
</configuration>